*{
    margin: 0;
    padding: 0;
}

.landing{
    background: linear-gradient(to bottom right, #000000cc, #000000cc),url(img/Sova.jpg);
    height: 61rem;
    min-height: 61rem;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.section-1{
    height: 40rem;
}
.title{
    color:white;
    font-size: 3rem;
    position: relative;
    top: 20rem;
    text-shadow: .6rem .6rem 1rem black;
}
.title-info{
    color:white;
    font-size: 2rem;
    position: relative;
    top: 20rem;
    text-shadow: .6rem .6rem 1rem black;
}
.section-1-title{
    padding-top: 2rem;
}

.section-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row-img{
    height: 20rem;
    width: 60rem;
}
.row{
    margin-top: 3rem;
}
.row-1{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.row-img-1{
    height: 110rem;
    width: 40rem;
}

.row-img-2{
    height: 20rem;
    width: 90rem;
}

.wrapper{
    height: 30rem;
}